.exam-container {
  padding-top: 60px;

  &.exam-remark {
    padding-top: 0;
  }
}


.exam-header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  background-color: #409eff;
  color: #fff;
  height: 60px;
  padding: 0 10px;
  gap: 10px;

  .name {
    font-size: 24px;
    font-weight: 600;
    flex: 1 1 auto;
    text-align: center;
  }
}

.exam-list {
  margin: 0 auto;
  width: 80%;
  max-width: 720px;
  padding-bottom: 20px;

  .el-card {
    margin-top: 20px;
  }

  .card-header {
    display: flex;
    justify-items: center;
    gap: 6px;
    color: #999;
  }

  .questionname {
    margin-bottom: 10px;
  }

  .mark-score {
    margin-top: 10px;
  }

  .analysis {
    display: flex;

    .analysis-label {
      flex: 0 0 auto;

    }

    .analysis-content {
      flex: 1 1 auto;
      width: 0;
    }
  }
}

// 问卷调查统计
.exam-stats-list {


  .item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;

    .header {
      width: 100%;
      text-align: center;
      font-weight: 600;
    }

    .left,
    .right {
      width: 50%;
    }
  }

  .chart-wrapper {
    height: 240px;
    width: 100%;
  }

  .chart-box {
    width: 100%;
    height: 100%;
  }
}

/** 试卷列表(公共？) */
.exam-page {
  margin: 0 40px;

  .search-wrapper {
    width: 100%;
  }

  .examtable-wrapper {
    width: 100%;
    padding-top: 30px;
  }

  .pagination-wrapper {
    width: 100%;
    padding: 40px;
  }

  /** 购物车 */
  .cart-totalprice {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

    .price {
      color: red;
      font-weight: 600;
      font-size: 20px;
    }
  }

  .wrapper-header {
    width: 100%;
    font-weight: 600;
  }

  .el-table {
    .buy-orders {
      background: #ffdbdb50;
    }

    .sales-orders {
      background: #e6ffd350;
    }
  }

  .buy-sales-tip {
    width: 100%;
    padding: 10px;
    background: #fff;
    display: flex;
    margin: 10px 0;
    justify-content: flex-end;
    font-size: 14px;
    gap: 20px;

    .item {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .buy {
      background: #ffdbdb;
      width: 14px;
      height: 14px;

    }

    .sales {
      background: #e6ffd3;
      width: 14px;
      height: 14px;

    }
  }



}