.register {
  background: url(http://codegen.caihongy.cn/20250926/74e025d9ac324516aa7b6808cd5da860.jpg) no-repeat center / 100% 100%;
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 20px 0;

  /* 文本框 高度变量 */
  --ab-input-height-: 32px;

  /* 表单盒子 */
  .registerform {
    padding: 54px;
    margin: 0;
    overflow: hidden;
    width: 528px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px 0px rgba(102, 153, 52, 0.5);
    border-radius: 30px 30px 30px 30px;
  }

  /* 媒体查询 */
  @media screen and (max-width: 768px) {
    .registerform {
      width: 100%;
    }
  }

  /* 表单盒子：二级 */
  .registerform-wrapper {
    width: 100%;
    height: auto;
  }

  /* 表单项 */
  .el-form-item {
    border-radius: 10px;
    padding: 0 20px;
    margin: 0 auto 20px auto;
    width: 100%;
    max-width: 650px;
    height: auto;
    flex-direction: column;
  }


  /* 标签 */
  .el-form-item__label {
    color: #000000;
    justify-content: flex-start;
  }

  /* 提示语 */
  .el-select__placeholder,
  .el-input__inner::placeholder {
    color: #9E9E9E;
  }

  /* 通用输入框 */
  .el-form-item__content {
    line-height: var(--ab-input-height-);
  }

  /* 文本框 */
  .el-input {
    --el-input-height: var(--ab-input-height-);
    --el-input-border-radius: 0;
    font-size: 14px;
  }

  .el-input__wrapper {
    box-shadow: none;
    border-bottom: 1px solid #D6D6D6;
  }

  /* 下拉 */
  .el-select__wrapper {
    --el-border-radius-base: 0;
    line-height: var(--ab-input-height-);
    height: var(--ab-input-height-);
    box-shadow: none;
    border-bottom: 1px solid #D6D6D6;
  }

  /* 文本和密码 */
  .el-input__inner {}

  /* 密码的清除和眼睛图标 */
  .el-input .el-input__clear,
  .el-input .el-input__password {}

  /* 文件 */
  .yyfile {
    .el-upload-list__item-name {
      color: #bbb4b4;
    }
  }

  /* 图片 */
  .el-upload-list--picture-card {
    --el-upload-list-picture-card-size: 80px;
  }

  .el-upload--picture-card {
    --el-upload-picture-card-size: 80px;
  }

  /* 人脸识别 */
  .face-form-item {
    display: flex;

    img {
      width: 102px;
      height: 102px;
      overflow: hidden;
      border-radius: 8px;
      position: relative;
      display: inline-block;
      border: 1px solid #d9d9d9;
    }
  }

  /* 邮箱注册 */
  .el-statistic__content {
    font-size: 14px;
  }

  /* 按钮总盒子 */
  .btn-wrapper {
    padding: 0 20px 20px 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  /* 注册按钮 */
  .register-btn {
    border: 1px solid transparent;
    border-radius: 45px;
    padding: 4px 15px;
    margin: 0;
    width: 100%;
    font-size: 16px;
    height: 40px;

    color: var(--btn-font-color-);
    background-color: var(--btn-bg-color-);

    &:hover {
      color: var(--btn-font-hover-color-);
      background-color: var(--btn-bg-hover-color-);
    }
  }

  /* 登录按钮 */
  .login-btn {
    border-radius: 45px;
    padding: 0 7px;
    width: 100%;
    font-size: 16px;
    line-height: 40px;
    height: 40px;

    color: var(--btn2-font-color-);
    background-color: var(--btn2-bg-color-);

    &:hover {
      color: var(--btn2-font-hover-color-);
      background-color: var(--btn2-bg-hover-color-);
    }
  }
}