.home-page {
  &> :nth-child(odd) {
    background: #fff;
  }

  &> :nth-child(even) {
    background: #f3f3f3;
  }

  .inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
  }
}