
/* 公共的弹框 */
.el-dialog.yy-dialog {
  /* 宽度 */
  --el-dialog-width: 80%;
  padding: 0;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 100px;
  max-width: 1150px;
  min-width: 720px;

  .el-dialog__header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: var(--btn-bg-color-);
    padding: 0;

  }

  .el-dialog__title {
    color: #fff;
  }

  .el-dialog__headerbtn {
    .el-dialog__close {
      color: #fff;
    }

    &:hover .el-dialog__close {
      color: var(--btn2-bg-color-);
    }
  }

  .el-dialog__body {
    padding: var(--el-dialog-padding-primary);
  }

}

/* 新增表单 */
.editform {
  background: none;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  .el-form-item {
    padding: 0;
    margin: 0;
    width: calc(50% - 10px);
    height: auto;

    /* 富文本的el-form-item */
    &:has(.ql) {
      width: 100%;
    }

    /* 多行文本的el-form-item */
    &:has(textarea) {
      width: 100%;
    }
  }

  .el-form-item__label {
    width: 120px;
  }

  .el-form-item__content {
    align-items: flex-start;
  }

  /* 自定义输入框高度 */
  /* --ab-input-height: 36px;
  --ab-box-shadow: inset 0px 3px 6px 1px rgba(0, 0, 0, 0.16);

  .el-input {
    --el-input-height: var(--ab-input-height);
    font-size: 14px;
  }

  .el-input__wrapper {
    box-shadow: var(--ab-box-shadow);
  }

  .el-select__wrapper {
    line-height: var(--ab-input-height);
    height: var(--ab-input-height);
    box-shadow: var(--ab-box-shadow);
  }

  .el-textarea__inner {
    box-shadow: var(--ab-box-shadow);
  } */

  /* 图片 */
  .el-upload-list--picture-card {
    --el-upload-list-picture-card-size: 100px;
  }

  .el-upload--picture-card {
    --el-upload-picture-card-size: 100px;
  }

  .btn-wrapper {
    width: 100%;
    display: flex;
    padding-left: 60px;
    gap: 20px;

    .submit-btn {
      border: 1px solid #E9E9E9;
      color: var(--btn-font-color-);
      background: var(--btn-bg-color-);

      &:hover {
        color: var(--btn-font-hover-color-);
        border: 1px solid var(--btn-bg-hover-color-);
        background: var(--btn-bg-hover-color-);
      }
    }

    .cancel-btn {
      color: var(--btn2-font-color-);
      background: var(--btn2-bg-color-);

      &:hover {
        color: var(--btn2-font-hover-color-);
        border: 1px solid var(--btn2-bg-hover-color-);
        background: var(--btn2-bg-hover-color-);
      }
    }
  }

  /* 人脸识别 */
  .face-form-item {
    display: flex;

    img {
      width: 102px;
      height: 102px;
      overflow: hidden;
      border-radius: 8px;
      position: relative;
      display: inline-block;
      border: 1px solid #d9d9d9;
    }
  }
}
  