
/* 页面盒子 */
.layout-page {
  display: flex;
  min-height: 100vh;

  /* 菜单 */
  .menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    max-width: var(--menu-width--);
    min-width: var(--menu-width--);
    width: var(--menu-width--);
    height: calc(100% - 0px);
    overflow: hidden;
    margin-left: 0px;
    margin-top: 0px;
    padding-top: 0px;
    z-index: 201;

  }

  /* 菜单2,占位元素,用来布局和动画 */
  .menu2-wrapper {
    flex: 0 0 var(--menu-width--);
    margin-left: 0px;
    max-width: var(--menu-width--);
    min-width: var(--menu-width--);
    width: var(--menu-width--);
  }


  /* 内容区  */
  .main-wrapper {
    flex: 1 1 0%;
    background: #eee;
    padding-top: 90px;
    overflow: hidden;

    /* 头部 */
    .header-wrapper {
      position: fixed;
      top: 0;
      width: calc(100% - var(--menu-width--));
      height: 90px;
      padding: 0 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      background: #FFFFFF;
      color: #333333;
      font-size: 14px;
      z-index: 202;
      border-left: 1px solid #eee;
    }

    /* 首页 */
    .content-wrapper {
      width: 100%;
      overflow: hidden;
      padding: 20px;
    }
  }

  /* 过渡动画 */
  .transiton_1 {
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, 1, 1);
    transition-duration: .3s;
  }
}

/* 这两个动画类名不能变，keyframes样式可以修改 */
.animate__fadeSlideIn {
  animation-name: fadeSlideIn;
}

.animate__fadeSlidOut {
  animation-name: fadeSlideOut;
}

@keyframes fadeSlideIn {
  from {
    transform: translate3d(-30px, 0, 0);
    visibility: visible;
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeSlideOut {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    opacity: 0;
    transform: translate3d(30px, 0, 0);
  }
}
  