/* 总盒子 */
.home-wrapper {
  width: 100%;
  padding: 0;
  background: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;


  /* 统计容器 */
  .statis-wrapper {
    width: calc(30% - 10px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    gap: 20px;
  }



  /* 图表单个盒子 */
  .chart-wrapper-common {
    flex: auto;
    display: inline-flex;
    flex-direction: column;
    height: 400px;
    width: calc(50% - 10px);
    background: #fff;
    margin: 0;
    padding: 10px;
    border-radius: 10px;

    .echart-query {
      .el-select {
        width: auto;
        max-width: 100%;
        min-width: 160px;
        --el-fill-color-blank: transparent;
      }

      .el-range-editor.el-input__wrapper {
        max-width: 100%;
      }

      .el-input__wrapper {
        background-color: transparent;
      }
    }

    .chart-box {
      flex: auto;
      width: 100%;
      height: 100%;
    }
  }


}