.register {
  background: url(http://clfile.zggen.cn/20260116/6ba6d99c3af94a8884b4305d6005d401.jpg) no-repeat center center / cover;
  background-attachment: fixed;
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;

  /* 文本框 高度变量 */
  --ab-input-height-: 44px;

  /* 表单盒子 */
  .registerform {
    width: 80%;
    max-width: 720px;
  }

  /* 媒体查询 */
  @media screen and (max-width: 768px) {
    .registerform {
      width: 100%;
    }
  }


  /* 表单盒子：二级 */
  .registerform-wrapper {
    height: 60vh;
    background-color: #fff;
  }



  .inner-wrapper {
    width: 100%;
    padding: 28px 28px 28px 0;
  }

  .title-tip {
    background-color: #F1D36D;
    height: 92px;
    line-height: 92px;
    text-align: center;
    color: #0D1818;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 2px;
  }

  /* 标题 */
  .title-box {
    margin: 0 0 30px 0;
    color: #FFF;
    font-weight: bold;
    font-size: 28px;
    line-height: 90px;
    height: 90px;
    text-align: center;
  }

  /* 表单项 */
  .el-form-item {
    border-radius: 10px;
    padding: 0 20px;
    margin: 0 auto 30px auto;
    height: auto;
  }

  /* 标签 */
  .el-form-item__label {
    color: #000;
    width: 120px;
    height: var(--ab-input-height-);
    line-height: var(--ab-input-height-);
  }

  /* 提示语 */
  .el-select__placeholder,
  .el-input__inner::placeholder {
    color: #606266;
  }

  /* 通用输入框 */
  .el-form-item__content {
    line-height: var(--ab-input-height-);
  }

  /* 文本框 */
  .el-input {
    --el-input-height: var(--ab-input-height-);
    font-size: 14px;
  }

  .el-input__wrapper {
    box-shadow: inset 0px 3px 6px 1px rgba(0, 0, 0, 0.16);
  }

  /* 下拉 */
  .el-select__wrapper {
    line-height: var(--ab-input-height-);
    height: var(--ab-input-height-);
    box-shadow: inset 0px 3px 6px 1px rgba(0, 0, 0, 0.16);
  }

  /* 文本和密码 */
  .el-input__inner {}

  /* 密码的清除和眼睛图标 */
  .el-input .el-input__clear,
  .el-input .el-input__password {}

  /* 文件 */
  .yyfile {
    .el-upload-list__item-name {
      color: #bbb4b4;
    }
  }

  /* 图片 */
  .el-upload-list--picture-card {
    --el-upload-list-picture-card-size: 80px;
  }

  .el-upload--picture-card {
    --el-upload-picture-card-size: 80px;
  }

  /* 人脸识别 */
  .face-form-item {
    display: flex;

    img {
      width: 102px;
      height: 102px;
      overflow: hidden;
      border-radius: 8px;
      position: relative;
      display: inline-block;
      border: 1px solid #d9d9d9;
    }
  }

  /* 邮箱注册 */
  .el-statistic__content {
    font-size: 14px;
  }

  /* 按钮总盒子 */
  .btn-wrapper {
    padding: 0 20px 20px 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  /* 注册按钮 */
  .register-btn {
    border: 1px solid transparent;
    border-radius: 45px;
    padding: 4px 15px;
    margin: 0;
    width: 100%;
    font-size: 16px;
    height: 40px;

    color: var(--btn-font-color-);
    background-color: var(--btn-bg-color-);

    &:hover {
      color: var(--btn-font-hover-color-);
      background-color: var(--btn-bg-hover-color-);
    }
  }

  /* 登录按钮 */
  .login-btn {
    border-radius: 45px;
    padding: 0 7px;
    width: 100%;
    font-size: 16px;
    line-height: 40px;
    height: 40px;

    color: var(--btn2-font-color-);
    background-color: var(--btn2-bg-color-);

    &:hover {
      color: var(--btn2-font-hover-color-);
      background-color: var(--btn2-bg-hover-color-);
    }
  }
}